<p id="notice"><%= notice %></p>

<h1 class="ui header">People</h1>

<div class="ui grid">
  <% @people.each do |person| %>
  <div class="sixteen wide mobile eight wide tablet four wide computer column">
    <div class="ui card">
      <div class="image">
        <img src="https://robohash.org/ <%= person.avatar %> ?set=set3" />
      </div>
      <div class="content">
        <%= link_to "#{person.first_name} #{person.last_name}",
        person,
        class: "header" %>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui green basic button">
            <%= link_to "edit", edit_person_path(person) %>
          </div>
          <div class="ui red basic button">
            <%= link_to "destroy", person,
            method: :delete,
            data: { confirm: "are you sure?"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br />
<div class="ui basic button">
  <%= link_to 'New Person', new_person_path %>
</div>
